backColor = #fff
footerBackColor = #f2f2f2
font-icon-path = "../fonts/fontawesome-webfont"
paddingJustify = 95px
paddingJustifyMiddle = 40px
paddingJustifyMobile = 15px
linkColor = #333
textColor = #666
tipsColor = #999
textSize = 14px
