.footer {
  height: 180px;
  padding-top: 60px;
  padding-left: paddingJustify;
  background: footerBackColor;
  font-size: textSize;
  a {
    color: linkColor;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  .copyright {
    color: linkColor;
    margin-bottom: 1em;
  }

  .footer-info {
    color: tipsColor;
    font-size: textSize;
  }
}
