.footer {
  display: flex;
  height: 180px;
  padding: 60px paddingJustify 0;
  background: footerBackColor;
  font-size: textSize;

  @media (max-width: 768px) {
    padding-left: paddingJustifyMiddle;
    padding-right: paddingJustifyMiddle;
  }

  a {
    color: linkColor;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  .copyright {
    color: linkColor;
    margin-bottom: 1em;
  }

  .footer-info {
    color: tipsColor;
    font-size: textSize;
  }

  .contact-info {
    flex: 1;
    display: flex;

    justify-content: flex-end;

    .contact-link {
      font-size: 2em;
      color: textColor;
      transition: all .3s linear;
      padding: 0 .5em;

      &:hover {
        color: linkColor;
        text-decoration: none;
      }

      &:last-of-type {
        padding-right: 0;
      }
    }
  }
}

.fixed {
  .footer {
    position: fixed;
    width: 100%;
    bottom: 0;
  }
}
