.header {
  padding: 55px 2em 0;
  display: flex
  align-items: baseline
  justify-content: space-between


  .blog-title .logo {
    color: #333333;
    font-size: 16px;
    font-family: "PingFang-SC", sans-serif;
    text-decoration: none;
  }

  .menu {
    margin: 0;
    padding: 0;

    .menu-item {
      font-size: 15px;
      display: inline-block;
      margin-right: 10px;
    }

    .menu-item-link {
      color: #999999;
      text-decoration: none;

      &:hover, &.active {
        color: #333333;
      }
    }
  }
}
