.header {
  padding: 55px paddingJustify 20px;
  margin-bottom: 25px;
  display: flex
  align-items: baseline
  justify-content: space-between
  position: relative;

  .blog-title {
    .logo {
      color: linkColor;
      font-size: 24px;
      font-family: "PingFang-SC", sans-serif;
      text-decoration: none;
    }
  }

  .menu {
    display: flex;
    margin: 0;
    padding: 0;

    .menu-item {
      font-size: 15px;
      display: inline-block;
      margin-right: 10px;
      padding: 0 1em;

      &:last-of-type {
        padding-right: 0;
      }
    }

    .menu-item-link {
      color: tipsColor;
      text-decoration: none;
      transition: all .3s linear;

      &:hover, &.active {
        color: linkColor;
      }
    }
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: paddingJustify;
    height: 2px;
    width: 50px;
    background-color: #dfdfdf;
  }

  @media (max-width: 768px) {
    padding-left: paddingJustifyMiddle;
    padding-right: paddingJustifyMiddle;

    &::after {
      left: paddingJustifyMiddle;
    }
  }

  @media (max-width: 600px) {
    flex-wrap: wrap;

    .blog-title {
      width: 100%;
    }

    .navbar {
      flex: 1;
      margin-top: 1em;

      .menu {
        .menu-item {
          padding-left: 0;
        }
      }
    }

    &::after {
      left: paddingJustifyMiddle;
      right: paddingJustifyMiddle;
      width: auto!important;
    }
  }

  @media (max-width: 600px) {
    padding-top: 40px;
  }

  @media (max-width: 480px) {
    padding-top: 20px;
    padding-left: paddingJustifyMobile;
    padding-right: paddingJustifyMobile;

    &::after {
      left: paddingJustifyMobile;
      right: paddingJustifyMobile;
      width: auto!important;
    }

    .blog-title {
      text-align: center;
    }

    .menu {
      justify-content: center;
    }

    .menu-item {
      margin-right: 0;
    }
  }
}
