.friends-wrap {
  padding: 40px paddingJustify;
  display: flex;
  flex-wrap: wrap;

  li {
    width: (100% / 3);
    list-style-type: none;
    margin-bottom: 1em;
    transition: all .3s linear;

    > a {
      display: flex;
      align-items: center;
      text-decoration: none;
    }

    &:hover {
      background-color: footerBackColor;
    }
  }

  .avatar-wrap {
    display: inline-block;
    width: 72px;
    height: 72px;

    img {
      width: 100%;
    }
  }

  .friends-title {
    padding-left: 1em;
    color: linkColor;
  }

  @media (max-width: 768px) {
    padding: 40px paddingJustifyMiddle;
  }

  @media (max-width: 600px) {
    li {
      width: (100% / 2);
    }
  }

  @media (max-width: 480px) {
    padding: 20px paddingJustifyMobile;
    li {
      width: 100%;
    }
  }
}
