.paginator-wrap {
  display: flex;
  padding: 20px paddingJustify;
  font-size: 18px;
  justify-content: flex-end;
  align-items: center;

  a {
    text-decoration: none;
  }

  .page-number {
    color: linkColor;
    cursor: pointer;
    padding: 0 .5em;

    &.current, &.current:hover {
      cursor: default;
      color: tipsColor;
    }
  }

  .paginator-item {
    font-size: 1.4em;
  }

  .paginator-item,
  .page-number {
    color: textColor;
    transition: all .3s linear;

    &:hover {
      color: linkColor;
    }
  }

  .extend {
    &.prev {
      padding-right: 1em;
    }
    &.next {
      padding-left: 1em;
    }
  }

  @media (max-width: 768px) {
    padding-left: paddingJustifyMiddle;
    padding-right: paddingJustifyMiddle;

    font-size: 22px;

    .paginator-item,
    .page-number {
      color: linkColor;
    }
  }

  @media (max-width: 600px) {
    font-size: 24px;
  }

  @media (max-width: 480px) {
    font-size: 26px;
    padding-left: paddingJustifyMobile;
    padding-right: paddingJustifyMobile;
    justify-content: center;
  }
}
