.posts  {
  display: flex;
  flex-wrap: wrap;

  .post {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 50px 95px;
  }

  .post:first-child {
    margin-top: 0;
  }

  .post-title {
    position: relative;
    font-size: 22px;
    padding-bottom: 20px;
    margin-bottom: 20px;

    .post-title-link {
      color: #333;
      text-decoration: none;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 2px;
      width: 50px;
      background-color: #dfdfdf;
    }
  }

  .post-content {
    font-size: 15px;
    color: #666;
    margin-bottom: 20px;
    a {
      color: #333;
      text-decoration: none;
    }
  }

  .post-meta {
    font-size: 15px;
    color: #666;
    display: flex;
    justify-content: flex-end;
  }
}
