#post-content {
  padding: 40px paddingJustify;
  color: textColor;
  line-height: 1.8;

  #more {
    display: none;
  }

  img {
    max-width: 100%;
  }

  .line {
    height: 19px;
  }
  figure {
    margin-right: 0;
    margin-left: 0;
  }
  &,
  p {
    overflow: hidden;

    font-size: 15px;
    line-height: 1.7;
  }
  >*:first-child {
    margin-top: 0 !important;
  }
  >*:last-child {
    margin-bottom: 0 !important;
  }
  a {
    color: #2196F3;

    &.absent {
      color: #c00;
    }

    &.anchor {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;

      display: block;

      margin-left: -30px;
      padding-left: 30px;

      cursor: pointer;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    position: relative;

    margin: 1em 0 15px;
    padding: 0;

    font-weight: bold;
    line-height: 1.7;

    cursor: text;

    tt,
    code {
        font-size: inherit;
    }

    .octicon-link {
        display: none;

        color: #000;
    }
    :hover a.anchor {
        top: 15%;

        margin-left: -22px;
        padding-left: 0;

        line-height: 1;
        text-decoration: none;
        .octicon-link {
          display: inline-block;
        }
    }
  }

  h1 {
    font-size: 2.5em;

    border-bottom: 1px solid #ddd;
  }
  h2 {
    font-size: 2em;

    border-bottom: 1px solid #eee;
  }
  h3 {
    font-size: 1.5em;
  }
  h4 {
    font-size: 1.2em;
  }
  h5 {
    font-size: 1em;
  }
  h6 {
    font-size: 1em;

    color: #777;
  }

  p,
  blockquote,
  ul,
  ol,
  dl,
  table {
    margin: 15px 0;
  }

  hr {
    height: .25em;
    margin: 24px 0;
    padding: 0;

    border: 0;
    background-color: #e7e7e7;
  }

  li p.first {
    display: inline-block;
  }

  ul,
  ol {
    overflow: hidden;

    padding-left: 30px;

    font-size: 15px;
    line-height: 1.7;
  }
  ul.no-list,
  ol.no-list {
    padding: 0;

    list-style-type: none;
  }
  ul ul,
  ul ol,
  ol ol,
  ol ul {
    margin-top: 0;
    margin-bottom: 0;
  }

  dl {
    padding: 0;

    dt {
      margin-top: 15px;
      padding: 0;

      font-size: 14px;
      font-weight: bold;
      font-style: italic;
    }

    dd {
      margin-bottom: 15px;
      padding: 0 15px;
    }
  }

  blockquote {
    padding: 0 15px;

    font-style: normal;

    color: #777;
    border-left: 4px solid #ddd;

    &>:first-child {
      margin-top: 0px;
    }

    &e>:last-child {
      margin-bottom: 0px;
    }
  }

  table {
    display: block;
    overflow: auto;

    width: 100%;

    border-spacing: 0;
    border-collapse: collapse;

    th {
      font-weight: bold;
    }

    th,
    td {
      padding: 6px 13px;

      border: 1px solid #ddd;
    }

    tr {
      /*    display: table;*/
      background-color: #fff;

      &:nth-child(2n) {
        background-color: #f8f8f8;
      }
    }
  }

  img {
    box-sizing: border-box;
    max-width: 100%;

    -moz-box-sizing: border-box;
  }
  span {
    &.frame {
      display: block;
      overflow: hidden;

      >span {
        display: block;
        float: left;
        overflow: hidden;

        width: auto;
        margin: 13px 0 0;
        padding: 7px;

        border: 1px solid #ddd;
      }

      span {
        img {
          display: block;
          float: left;
        }

        span {
          display: block;
          clear: both;

          padding: 5px 0 0;

          color: #333;
        }
      }
    }

    &.align-center {
      display: block;
      clear: both;
      overflow: hidden;

      >span {
        display: block;
        overflow: hidden;

        margin: 13px auto 0;

        text-align: center;
      }

      span img {
        margin: 0 auto;

        text-align: center;
      }
    }

    &.align-right {
      display: block;
      clear: both;
      overflow: hidden;

      >span {
        display: block;
        overflow: hidden;

        margin: 13px 0 0;

        text-align: right;
      }

      span img {
        margin: 0;

        text-align: right;
      }
    }

    &.float-left {
      display: block;
      float: left;
      overflow: hidden;

      margin-right: 13px;

      span {
        margin: 13px 0 0;
      }
    }

    &.float-right {
      display: block;
      float: right;
      overflow: hidden;

      margin-left: 13px;

      >span {
        display: block;
        overflow: hidden;

        margin: 13px auto 0;

        text-align: right;
      }
    }
  }

  code,
  tt {
    margin: 0 2px;
    padding: 0px 5px;

    border-radius: 3px;
    background-color: rgba(0, 0, 0, .04);
  }
  pre>code {
    margin: 0;
    padding: 0;

    white-space: pre;

    border: none;
    background: transparent;
  }
  pre {
    overflow: auto;

    padding: 16px;
    /* background-color: #f7f7f7; */

    font-size: 13px;
    line-height: 19px;

    border-radius: 3px;
  }
  .gutter,
  .code {
    display: block;
    overflow: auto;

    padding: 0;
    /*  background: #f7f7f7;*/

    font-size: 13px;
    line-height: 19px;

    border: none;
    border-radius: 0;
  }
  .code {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  .gutter {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  .gutter pre,
  .code pre {
    display: block;

    margin: 0;
  }
  pre code,
  pre tt {
    margin: 0;
    padding: 0;

    border: none;
    background-color: transparent;
  }

  @media (max-width: 768px) {
    padding-left: paddingJustifyMiddle;
    padding-right: paddingJustifyMiddle;

    &,
    p {
      overflow: hidden;

      font-size: 16px;
    }
  }

  @media (max-width: 480px) {
    padding-left: paddingJustifyMobile;
    padding-right: paddingJustifyMobile;

    &,
    p {
      overflow: hidden;

      font-size: 17px;
    }
  }
}
