@import "_variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: backColor;

  &.fixed {
    margin-bottom: 180px;
  }
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

@import "header";
@import "post";
@import "paginator";
@import "page";
@import "comments";
@import "links";
@import "footer";
@import "font-awesome";
