@import "_variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: backColor;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

@import "header";
@import "post";
@import "paginator";
@import "footer";
@import "font-awesome";
