.toc-wrap {
  position: fixed;
  z-index: 4;
  // background-color: #eee;
  padding: .5em;
  right: 0;
  top: 50%;
  transform: translate(100%, -50%);
  max-height: 50vh;
  overflow-y: scroll;
  width: 300px;

  a {
    color: #ccc;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.6;

    &:hover {
      color: linkColor;
    }
  }

  li {
    list-style-type: none;
  }

  @media (max-width: 768px) {
    font-size: 22px;
  }

  @media (max-width: 480px) {
    font-size: 24px;
  }
}

.toc-toggle {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0 .5em;
  text-align: center;
  font-size: 24px;
  z-index: 4;

  label {
    cursor: pointer;
  }

  .fa-eye {
    display: inline-block;
  }
  .fa-eye-slash {
    display: none;
  }

  @media (max-width: 768px) {
    font-size: 26px;
  }

  @media (max-width: 480px) {
    font-size: 28px;
  }
}

#toggle-toc {
  display: none;

  &:checked {
    ~ .toc-wrap {
      transform: translate(0, -50%);
    }

    ~ .toc-toggle {
      transform: translate(-300px, -50%);
      color: #ccc;
      .fa-eye {
        display: none;
      }
      .fa-eye-slash {
        display: inline-block;
      }
    }

    ~ .mask {
      display: block;
      backdrop-filter: blur(15px)
      background-color: rgba(0, 0, 0, .6);
    }
  }
}

.mask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  transition: all .3s linear;
}
