.toc-wrap {
  position: absolute;
  z-index: 4;
  top: 0;
  overflow-y: scroll;
  width: 0;
  height: 0;
  transition: width .1s linear, height .1s linear;
  background-color: #fff;
  border-radius: 5px;

  &.toc-wrap-right {
    right: 40px;
  }
  &.toc-wrap-left {
    left: 40px;
  }

  a {
    color: #666;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.6;
    transition: color .3s linear;

    &:hover, &.selected {
      color: #2196f3;
    }
  }

  li {
    list-style-type: none;
    text-align: left;
  }

  @media (max-width: 768px) {
    font-size: 22px;
  }

  @media (max-width: 480px) {
    font-size: 24px;
    right: 50px;
  }

  @media (min-width: 1920px) {
    border: 1px solid #ddd;
    padding: .5em;
    height: auto;
    max-height: 80vh;
    width: 300px;
  }
}

.toc-toggle {
  position: fixed;
  top: 252px;
  transform: translate(0, -50%);
  padding: 0 .5em;
  text-align: center;
  font-size: 24px;
  z-index: 4;
  color: #ddd;
  transition: color .3s linear;

  &.toc-toggle-left {
    left: 20px;
  }
  &.toc-toggle-right {
    right: 20px;
  }

  &:hover {
    color: #000;
  }

  label {
    cursor: pointer;
  }

  @media (max-width: 768px) {
    font-size: 26px;
    right: 10px;
    top: 259px;
  }

  @media (max-width: 480px) {
    font-size: 28px;
    right: 0;
    top: 152px;
  }

  @media (min-width: 1920px) {
    transform: translate(40px, -50%);

    label {
      visibility: hidden;
    }
  }
}

.mask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

#toggle-toc {
  display: none;
  &.toggle-toc-right {
    right: 40px;
  }
  &.toggle-toc-left {
    left: 40px;
  }
  &.toggle-toc-right {
    right: 40px;
  }

  &:checked {
    ~ .toc-toggle {
      color: #000;
      .toc-wrap {
        border: 1px solid #ddd;
        padding: .5em;
        height: 15em;
        width: 300px;
      }
    }

    ~ .mask {
      display: block;
    }
  }
}
